<footer class="footer">
    <div class=".container-fluid text-white">
      <div class="container row p-2">
        <div class="col-md-2 col-12">     
          <img src="4pslogo.png" alt="logo" class="img-fluid rounded">
        </div>
        <div class="col-md-10 col-12">
          <h5>
            Pizza 4P's Australia
          </h5>
          <p>
            Ground Floor West End Casino (Near Clarendon St), 8 Whiteman Street, Southbank, VIC, 3006, Australia
          </p>
          <p>
            Tel: +61 3929 57777
          </p>
        </div>
      </div>
      <p style="text-align: center; color: darkgray;">&copy; 2024 Pizza 4P's. All rights reserved.</p>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>